<div class="form-horizontal templates-form">

  <div class="inputs">
    <div class="input">
      <label for="topics-title-template">{{i18n 'admin.lm_seo.topics.templates.meta_title'}}</label>
      {{input value=templates.meta_title}}
    </div>

    <div class="input">
      <label for="topics-description-template">{{i18n 'admin.lm_seo.topics.templates.meta_description'}}</label>
      {{input value=templates.meta_description}}
    </div>

    <div class="input">
      <label for="topics-keywords-template">{{i18n 'admin.lm_seo.topics.templates.meta_keywords'}}</label>
      {{input value=templates.meta_keywords}}
    </div>
  </div>

  <div class="buttons">
    {{#if saving}}
      {{loading-spinner size="small"}}
    {{else}}
      {{d-button icon="download" action="save" class="btn btn-primary" label="admin.lm_seo.topics.templates.save"}}
    {{/if}}
  </div>

</div>
